.texto{
    position: all;
    top: 600px;
 }

 footer{
    background: #585858;
    text-align: center;
    font-size: .9em;
    color: #fff;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-top: 4em;
 }
 .ed-container{
	text-align: justify;
	line-height: 24px;
}
.slider-wrap{
    z-index:1;
}
.men{
    z-index:9999;
}
.logo{
    text-align: center;
}

.img_evo{
	margin: 0 auto;
	text-align: center;
}
.ed-menu a{
    text-transform: uppercase;
    background: #2ECCFA;
    z-index: 5;
    }
    
    .ed-menu a:hover{
    background-color: #0174DF;
    color: white;
    border-radius: 10px;
    transition: all 0.9s ease;
    box-shadow: inset 0 0 0 3px #3a7999;
    }
    
    .cuerpo{
        background: green;
    }